tr.note-item-row {
  height: 30px;
}

@media screen and (max-width: 600px) {
  tr.note-item-row {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  td.note-item-cell {
    flex-grow: 1;
    text-align: left;
  }
  table td.summary:before {
    content: 'Summary: ';
    font-weight: bold;
  }
  table td.description:before {
    content: 'Details: ';
    font-weight: bold;
  }

}
