@media screen and (max-width: 600px) {
  tr.note-item-row {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  td.note-item-cell {
    flex-grow: 1;
    text-align: left;
  }
  table td.action-button:before {
    content: 'NoteItem Details';
  }
  table td.summary:before {
    content: 'Summary: ';
  }
  table td.description:before {
    content: 'Details: ';
  }
  table td:last-child{
    border-bottom: 1px solid;
    border-bottom-color: #666;
  }
}
